"<div style='border: 5px double blue'>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% end %>
  <% if @name %>
    My name is <%= @name %>
  <% end %>
  <img src= 'http://placekitten.com/200/300'>
</div>"
